:root {
  --dark-blue-background: #daeaf1;
  --light-gray-background: #d7d1d1;
  --dark-gray-background: #7d7878;
  --black-background: #2c2b2b;
  --text-dark: #1B1B1B;
  --red-background: #cf1411;
  --light-red-background: #f4cfcf;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background-color: #d8effa;
  background: linear-gradient(#91c3dc, #94bfed);
}

body:after {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .25) 2px, rgba(0, 0, 0, 0) 2px), linear-gradient(0deg, rgba(255, 255, 255, .25) 2px, rgba(0, 0, 0, 0) 2px);
  background-position: 0px 1px;
  background-repeat: repeat;
  background-size: 20px 20px;
}

body {
  background: url(http://www.transparenttextures.com/patterns/handmade-paper.png);
  opacity: .75;
}